<!DOCTYPE html>
<html lang="jp">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Vital-guard ホーム</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- animation -->
    <link href="vendor/font-awesome-animation-master/css/font-awesome-animation.min.css" rel="stylesheet" type="text/css">

    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for loading animation -->
    <link href="css/loading-animetion.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <!-- <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html"> -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-fingerprint"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Vital-guard</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <!-- <a class="nav-link" href="index.html"> -->
                <a class="nav-link" href="">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>ダッシュボード</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Sidebar Header -->
            <div class="sidebar-heading">Menu</div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <!-- <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" -->
                <a class="nav-link collapsed" href="" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>チャート</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Select</h6>
                        <!-- <a class="collapse-item" href="week-charts.html">Weekly</a> -->
                        <a class="collapse-item" href="">Weekly</a>
                        <!-- <a class="collapse-item" href="month-charts.html">Monthly</a> -->
                        <a class="collapse-item" href="">Monthly</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <!-- <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" -->
                <a class="nav-link collapsed" href="" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-clipboard-list rotate-n-15"></i>
                    <span>アンケート</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Select</h6>
                        <!-- <a class="collapse-item" href="questionnaire-before.html">就業開始前</a> -->
                        <a class="collapse-item" href="">就業開始前</a>
                        <!-- <a class="collapse-item" href="questionnaire-after.html">就業終了後</a> -->
                        <a class="collapse-item" href="">就業終了後</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <!-- <a class="nav-link collapsed" href="setting.html"> -->
                <a class="nav-link collapsed" href="">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>設定</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-lg-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

<!-- グラフテスト用 -->
<!-- デモ用に隠す
                    <p class="mr-2 d-lg-inline text-gray-600 small">
                        nodeno:<input type="text" id="nodeno" value="7004">
                    </p>
                    <p class="mr-2 d-lg-inline text-gray-600 small">
                        <button id="button">submit</button>
                    </p>
-->
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <!-- <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" -->
                            <a class="nav-link dropdown-toggle" href="" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span id="login_name" class="mr-2 d-none d-lg-inline text-gray-600 small"></span>
                                <img class="img-profile rounded-circle"
                                    src="img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <!-- <a class="dropdown-item" href="setting.html">    -->
                                <a class="dropdown-item" href="">   
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <div class="dropdown-divider"></div>
                                <!-- <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal"> -->
                                <a class="dropdown-item" href="" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">本日の活動記録</h1>
                        <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"> -->
                        <a href="" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                            <i class="fas fa-download fa-sm text-white-50"></i> レポート</a>
                    </div>

                    <!-- CardMonitor Row -->
                    <div class="row mb-3">

                        <!-- Earnings (pWBGT) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-lg font-weight-bold text-success text-uppercase mb-1">
                                                pwbgt</div>
                                            <div id="pwbgt-str" class="h5 mb-0 font-weight-bold">--</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-temperature-high fa-2x text-success"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (心拍数) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-lg font-weight-bold text-primary text-uppercase mb-1">
                                                心拍数</div>
                                            <div id="hr-str" class="h5 mb-0 font-weight-bold">--</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fab fa-gratipay fa-2x text-primary"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (活動量) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-lg font-weight-bold text-info text-uppercase mb-1">
                                                活動量
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div id="ee-str" class="h5 mb-0 mr-3 font-weight-bold">--</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fab fa-hotjar fa-2x text-info"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (累計活動量) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-lg font-weight-bold text-warning text-uppercase mb-1">
                                                累計活動量</div>
                                            <div id="iee-str" class="h5 mb-0 font-weight-bold text-gray-800">--</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-chart-bar fa-2x text-warning"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Sub Contents Row -->
                    <div id="app" class="row mb-3">

                        <!-- Sub Data column -->
                        <div class="col-lg-6 mb-4">

                            <!-- Progress Bar Card -->
                            <div class="card shadow mb-4">
                                <div class="card-body">
                                    <h2>ステータス</h2>
                                    <!-- pWBGT Bar -->
                                    <div class="row my-5">
                                        <div class="col-3">
                                            <i class="fas fa-temperature-high fa-lg text-success d-inline ml-xl-4 ml-md-0"></i>
                                            <div class="text-lg font-weight-bold text-success text-uppercase mb-1 d-inline-block">pwbgt</div>
                                        </div>
                                        <div class="col mt-1">
                                            <div class="progress">
                                                <div id="pwbgt-progress" class="progress-bar" role="progressbar" style="width: 0%"
                                                    aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <i id="pwbgt-icon"></i>
                                            <span id="pwbgt-text" class="text-gray-300 ml-xl-2 ml-md-0 d-inline-block">--</span>
                                        </div>
                                    </div> 
                                    <!-- 心拍数 Bar -->
                                    <div class="row my-5">
                                        <div class="col-3">
                                            <i class="fab fa-gratipay fa-lg text-primary d-inline ml-xl-4 ml-md-0"></i>
                                            <div class="text-lg font-weight-bold text-primary text-uppercase mb-1 d-inline-block">心拍数</div>
                                        </div>
                                        <div class="col mt-1">
                                            <div class="progress">
                                                <div id="hr-progress" class="progress-bar" role="progressbar" style="width: 0%"
                                                    aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <i id="hr-icon"></i>
                                            <span id="hr-text" class="text-gray-300 ml-xl-2 ml-md-0 d-inline-block">--</span>
                                        </div>
                                    </div> 
                                    <!-- 活動量 Bar -->
                                    <div class="row my-5">
                                        <div class="col-3">
                                            <i class="fab fa-hotjar fa-lg text-info d-inline ml-xl-4 ml-md-0"></i>
                                            <div class="text-lg font-weight-bold text-info text-uppercase mb-1 d-inline-block">活動量</div>
                                        </div>
                                        <div class="col mt-1">
                                            <div class="progress">
                                                <div id="ee-progress" class="progress-bar" role="progressbar" style="width: 0%"
                                                    aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <i id="ee-icon"></i>
                                            <span id="ee-text" class="text-gray-300 ml-xl-2 ml-md-0 d-inline-block">--</span>
                                        </div>
                                    </div> 
                                </div>
                            </div>

<!-- いつの日かアンケート結果表示項目へ変更 -->
                            <div class="card shadow mb-4">
                                <div class="card-body">
                                    <div class="col">
                                        <h3 class="mb-4">アンケート提出状況</h3>
                                        <div class="row bg-light p-3">
                                            <div class="col-xl-6 col-md-12">
<!-- アンケートの提出の有無で表示を変える -->
                                                <h4>事業前：提出済み</h4> 
                                            </div>
                                            <div class="col-xl-6 col-md-12">
<!-- アンケートの提出の有無で表示を変える -->
                                                <h4>事業後：未提出</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Sub Graph Card -->
                        <!-- column -->
                        <div class="col-lg-6 mb-4">
                            <!-- card -->
                            <div class="card shadow mb-4">
                                <div class="card-body">
                                    <div class="row mb-4">
                                        <div class="col">
                                            <h2 class="mb-5">最新の推移</h2>
                                            <select id="select_graph" class="form-control col-4" v-model="graphSelected">
                                                <option v-for="(item,index) in graphs" :key="index" :value="item.type">
                                                    {{ item.name }}</option>    
                                            </select>
                                        </div>
                                    </div>

                                    <div>
                                        <canvas id="charts"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- pwbgt Graph Row -->
                    <div class="row">
                        <!-- Area Chart -->
                        <div class="col-lg-12 mb-4">
                            <div class="card shadow mb-4">  
                                <!-- Card Body -->
                                <div class="card-body">
                                    <!-- ヘッダー部 -->
                                    <div class="row mb-5 align-items-baseline p-3">
                                        <h2 class="mr-4">データ推移</h2>
                                        <h4 class="mr-4">
                                            ― PWBGT ―
                                        </h4>
                                        <i class="fas fa-temperature-high fa-2x text-success ml-3"></i>
                                    </div>

                                    <!-- スクロール可能グラフ表示エリアのラッパーブロック -->
                                    <div class="scrollableChartWrapper">
                                        <!-- スクロールされる canvas を持つ div:
                                            - style.width を省略すると div の幅がページ幅に合わせられる;
                                            - style.width を指定すると div の幅（≒スクロールバーの長さ）が固定される -->
                                        <div class="scrollableChartContainer">
                                            <!-- ローディング画面 -->   
                                            <div id="loading_pwbgt" class="card-body">
                                                <div class="sk-chase">
                                                    <div class="sk-chase-dot"></div>
                                                    <div class="sk-chase-dot"></div>
                                                    <div class="sk-chase-dot"></div>
                                                    <div class="sk-chase-dot"></div>
                                                    <div class="sk-chase-dot"></div>
                                                    <div class="sk-chase-dot"></div>
                                                </div>
                                            </div>
                                            <!-- グラフ描画canvas -->
                                            <canvas id="myAreaChart_pwbgt" style="height: 300px;"></canvas>
                                        </div>
                                        <!-- y軸固定用canvas -->
                                        <!-- <canvas id="yAxis_pwbgt" width="0"></canvas> -->
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 心拍数 Graph Row -->
                    <div class="row">
                        <!-- Area Chart -->
                        <div class="col-lg-12 mb-4">
                            <div class="card shadow mb-4">  
                                <!-- Card Body -->
                                <div class="card-body">
                                    <!-- ヘッダー部 -->
                                    <div class="row mb-5 align-items-baseline p-3">
                                        <h2 class="mr-4">データ推移</h2>
                                        <h4 class="mr-4">
                                            ― 心拍数 ―
                                        </h4>
                                        <i class="fab fa-gratipay fa-2x text-primary"></i>
                                    </div>

                                    <!-- スクロール可能グラフ表示エリアのラッパーブロック -->
                                    <div class="scrollableChartWrapper">
                                        <!-- スクロールされる canvas を持つ div:
                                            - style.width を省略すると div の幅がページ幅に合わせられる;
                                            - style.width を指定すると div の幅（≒スクロールバーの長さ）が固定される -->
                                        <div class="scrollableChartContainer">
                                            <!-- ローディング画面 -->   
                                            <div id="loading_hr" class="card-body">
                                                <div class="sk-chase">
                                                    <div class="sk-chase-dot"></div>
                                                    <div class="sk-chase-dot"></div>
                                                    <div class="sk-chase-dot"></div>
                                                    <div class="sk-chase-dot"></div>
                                                    <div class="sk-chase-dot"></div>
                                                    <div class="sk-chase-dot"></div>
                                                </div>
                                            </div>
                                            <!-- グラフ描画canvas -->
                                            <canvas id="myAreaChart_hr" style="height: 300px;"></canvas>
                                        </div>
                                        <!-- y軸固定用canvas -->
                                        <!-- <canvas id="yAxis_hr" width="0"></canvas> -->
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 活動量 Graph Row -->
                    <div class="row">

                        <!-- Area Chart -->
                        <div class="col-lg-12 mb-4">
                            <div class="card shadow mb-4">
                                <!-- Card Body -->
                                <div class="card-body">
                                    <!-- ヘッダー部 -->
                                    <div class="row mb-5 align-items-baseline p-3">
                                        <h2 class="mr-4">データ推移</h2>
                                        <h4 class="mr-4">
                                            ― 活動量 & 累計活動量 ―
                                        </h4>
                                        <i class="fab fa-hotjar fa-2x text-info"></i>
                                        <i class="fas fa-chart-bar fa-2x text-warning ml-3"></i>
                                    </div>

                                    <!-- スクロール可能グラフ表示エリアのラッパーブロック -->
                                    <div class="scrollableChartWrapper">
                                        <!-- スクロールされる canvas を持つ div:
                                            - style.width を省略すると div の幅がページ幅に合わせられる;
                                            - style.width を指定すると div の幅（≒スクロールバーの長さ）が固定される -->
                                        <div class="scrollableChartContainer">
                                            <!-- ローディング画面 -->   
                                            <div id="loading_ee" class="card-body">
                                                <div class="sk-chase">
                                                    <div class="sk-chase-dot"></div>
                                                    <div class="sk-chase-dot"></div>
                                                    <div class="sk-chase-dot"></div>
                                                    <div class="sk-chase-dot"></div>
                                                    <div class="sk-chase-dot"></div>
                                                    <div class="sk-chase-dot"></div>
                                                </div>
                                            </div>
                                            <!-- グラフ描画canvas -->
                                            <canvas id="myAreaChart_ee" style="height: 300px"></canvas>
                                        </div>
                                        <!-- y軸固定用canvas -->
                                        <!-- <canvas id="yAxis_ee" width="0"></canvas> -->
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ログアウトしますか？</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">現在のセッションを終了する準備が整っている場合は、下の 「Logout」を選択してください。</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Vue -->
    <script src="vendor/vue/dist/vue.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/chart-area-demo.js"></script>

</body>

</html>